html {
  font-size: 16px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
body {
    margin-bottom: 80px;
    height: 85%;
    background-image: url("../Photos/imagecompteur voiture2 (2).png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity:0.85;
    color: #4E6E81;
}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

td {
    color: aqua;
}