@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue  chez Express Voiture.</h1>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    
      
    <input type="button" value="ICI" class="btn btn-warning btn-lg" onclick="window.location.href='@Url.Action("Index", "Voitures")'" />
           
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <h2 class="display-4">Vous trouverez la voiture qu'il vous faut.</h2>

        
</div>

