@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue</h1>
   <a> 
       <img  width=150% height="150%"src="../../Photos/imagecompteur voiture2 (2).png" >
     
       </a>
      
</div>
