@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue  chez Express Voiture.</h1>
    <h2 class="display-4">ICI</h2>
    <h2 class="display-4">Vous trouverez la voiture qu'il vous faut.</h2>

   <a> 
       <img  width=85% height=85% src="../../Photos/imagecompteur voiture2 (2).png" >
   </a>
      
</div>
